body {}

.title {
    line-height: 40px;
    color: #B03B21;
    text-align: center;
    padding-bottom: 50px;
}

.view {
    text-align: center;
    margin: auto;
    width: 30%;
}

.box {
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.interface_block {
    margin-bottom: 10px;
}

.button_block {
    margin-top: 4px;
}

.calendar_block {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}